<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% layout('/layout/page.ejs') %>
    <h1><%= title %></h1>
    <p>Добро пожаловать в Конклав</p>
    <p>Счетчик: <%= counter %></p>
    <% if(user) {%>
    <!-- // Случай залогиненного пользователя  -->
    <% }else{ %>
    <!-- // Случай
    не залогиненного пользователя  -->
    <% } %> <% if(user) {%>
    <h1>Привет <%= user.username %></h1>
    <% } else { %>
    <h2>Зарегистрируйтесь, чтобы видеть все страницы сайта</h2>
    <% } %>
  </body>
</html>
